<%= form_with(model: employee) do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
        <% employee.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :employee_id, placeholder:"Enter Employee Id" %>
    <%= form.text_field :employee_id %>
  </div>

  <div class="field">
    <%= form.label :employee_name, placeholder:"Enter Employee Name" %>
    <%= form.text_field :employee_name %>
  </div>

  <div class="field">
    <%= form.label :email, placeholder:"Enter Employee Email" %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :phone, placeholder:"Enter Employee Mobile.No" %>
    <%= form.text_field :phone %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
