<p id="notice"><%= notice %></p>


<div class="jumbotron">
  <h1 class="display-4">
  <%= @employee.employee_name %></h1>
  <p class="lead">
  <strong>Email:</strong>
  <%= @employee.email %>
  <br/>
  <br/>
  <strong>Phone:</strong>
  <%= @employee.phone %>
  </p>
  <hr class="my-4">
  <p class="lead">
  <%= link_to 'Edit', edit_employee_path(@employee),class:"btn btn-outline-primary btn-md" %>
  <%= link_to 'Back', employees_path , class:"btn btn-outline-secondary btn-md"%>
  </p>
</div>
