
<p id="notice"><%= notice %></p>


<div class="jumbotron">
  <h1 class="display-4">
  <strong>Title:</strong>
  <%= @project.title %>
  </h1>
  <p class="lead">
  <strong>Description:</strong>
  <%= @project.description %>
  <br/>
  <br/>
  <strong>Status:</strong>
  <%= @project.status %>
  </p>
  <hr class="my-4">
  <p class="lead">
  <%= link_to 'Edit', edit_project_path(@project),class:"btn btn-outline-primary btn-md" %>
  <%= link_to 'Back', projects_path , class:"btn btn-outline-secondary btn-md"%>
  </p>
</div>


